In [ ]:
import sys
import xlsxwriter
import pandas as pd
import sys
import psycopg2
import os
from dotenv import load_dotenv
from datetime import date

today = date.today()
load_dotenv()

#configurar la conexion a la base de datos
DB_USERNAME = os.getenv('DB_USERNAME')
DB_DATABASE = os.getenv('DB_DATABASE')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_PORT = os.getenv('DB_PORT')
DB_HOST=os.getenv('DB_HOST')

# Conectar a DB
# Conectar a PostgreSQL
try:
    cnx = psycopg2.connect(
        user=DB_USERNAME,
        password=DB_PASSWORD,
        host=DB_HOST,
        port=DB_PORT,
        database=DB_DATABASE
    )
    print("Conexión exitosa")
except psycopg2.Error as e:
    print("Ocurrió un error al conectar a la base de datos:", e)

egresados=pd.read_sql("""select * from egresados  where act_suvery=1 """,cnx)

Conexión exitosa

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
egresados=pd.read_sql("""select * from egresados  where act_suvery=1 """,cnx)
print(len(egresados))
egresados=pd.read_sql("""select egresados.*,count(telefonos.id) as telefonos from egresados  left join telefonos on telefonos.cuenta=egresados.cuenta where act_suvery=1 group by egresados.id""",cnx)
print(len(egresados))

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

5224
5224

In [11]:
egresados

,id,cuenta,nombre,paterno,materno,carrera,plantel,extras,promedio,correo,...,llamadas,updated_at,sexo,fec_nac,actualized,fuente,created_at,enc_destacados,act_suvery,telefonos
0,11233,309296999,FERNANDO,SAMPERIO,SANCHEZ,107,11,0.0,7.91,junior_sam28@hotmail.com,...,0,NaT,None,None,2019-07-25 00:00:00+00:00,dgae,NaT,0,1,1
1,24416,411133858,JORGE LUIS,GARCIA,ESPARZA,306,400,7.0,8.35,ajros0612@hotmail.com,...,0,NaT,None,None,2018-12-13 00:00:00+00:00,dgae,NaT,0,1,1
2,23626,410027396,YESICA ANNEL,GARDUÑO,ORTIZ,305,400,3.0,8.65,annel_yesi@hotmail.com,...,0,NaT,None,None,2020-11-05 00:00:00+00:00,dgae,NaT,0,1,0
3,20913,308065893,CHRISTIAN,CARRANZA,DELGADO,208,300,4.0,7.57,christian.380@hotmail.com,...,0,NaT,None,None,2019-09-09 00:00:00+00:00,dgae,NaT,0,1,1
4,18803,305121767,JULIETA YAZMIN,CRISOSTOMO,SOLANO,305,200,49.0,7.57,nimzay_15yaz@hotmail.com,...,0,NaT,None,None,2019-02-18 00:00:00+00:00,dgae,NaT,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5219,3858,402026082,YOLANDA,HINOJOSA,MARTINEZ,311,4,28.0,8.25,yolhin_63@yahoo.com.mx,...,0,NaT,None,None,2018-11-06 00:00:00+00:00,dgae,NaT,0,1,1
5220,9180,309021748,BRIANDA ADALUZ,BAZAN,GARCIA,203,9,0.0,8.90,adabriz@hotmail.com,...,0,NaT,None,None,2019-10-05 00:00:00+00:00,dgae,NaT,0,1,1
5221,4617,304131877,NERI JOHANA,CRUZ,BOLAÑOS,213,5,37.0,7.34,nerijohana_@hotmail.com,...,0,NaT,None,None,2020-06-05 00:00:00+00:00,dgae,NaT,0,1,1
5222,790,309728162,LUIS TONATIUH,SALINAS,ARMENTA,102,1,1.0,8.09,tona_mcbth@hotmail.com,...,0,NaT,None,None,2019-03-26 00:00:00+00:00,dgae,NaT,0,1,1
5223,10896,309226778,ELIZABETH JAQUELINE,ZARATE,GARDUÑO,421,10,4.0,9.06,zagaelja@hotmail.com,...,0,NaT,None,None,2020-06-13 00:00:00+00:00,dgae,NaT,0,1,1

In [5]:
carreras=egresados['carrera'].unique()
planteles=egresados['plantel'].unique()
carrera_meta=pd.read_sql('select * from carreras',cnx)

c:\Users\fgonzalez\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [25]:
list_carreras=carrera_meta.loc[(carrera_meta['clave_carrera'].isin(egresados['carrera'].unique()))&(carrera_meta['clave_plantel'].isin(egresados['plantel'].unique()))]

In [26]:
writer = pd.ExcelWriter('storage/muestras16.xlsx', engine='xlsxwriter')

workbook = writer.book
a_color='#173d83'
#estilos----------------
negro_b = workbook.add_format({
    'bold': 2,
    'border': 0,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':13}) 
header_format = workbook.add_format({
    'bold': True,
    'bg_color': a_color,
    'text_wrap': True,
    'valign': 'top',
    'align': 'center',
    'border_color':'white',
    'font_color': 'white',
    'border': 1,
    'font_size':12})
blue_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':10,
    'border_color':a_color})
date_content = workbook.add_format({
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':10,
    'border_color':a_color,
    'num_format': 'dd/mm/yy'})
date_content_bold = workbook.add_format({
    'align': 'center',
    'valign': 'vcenter',
    'font_color': 'black',
    'font_size':12,
    'bold': True,
    'num_format': 'dd/mm/yy'})
worksheet = workbook.add_worksheet()
worksheet.merge_range('C2:H3', 'PROGRAMA DE VINCULACION A EGRESADOS UNAM', negro_b)
worksheet.merge_range('C4:H4', 'ESTADO DE LAS MUESTRAS 2016', negro_b)
worksheet.insert_image("A1", "img/logoPVE.png",{"x_scale": 0.2, "y_scale": 0.2})
worksheet.merge_range('G6:H6',today, date_content_bold)

worksheet.write('B8','No.carrera',header_format)
worksheet.write('C8','No.plantel',header_format)
worksheet.write('D8','carrera',header_format)
worksheet.write('E8','plantel',header_format)
worksheet.write('F8','Poblacion',header_format)
worksheet.write('G8','Porcentaje',header_format)
worksheet.write('H8','Egresados sin telefono',header_format)
worksheet.write('I8','Porcentaje de esta muestra sin telefono',header_format)
worksheet.write('J8','Poblacion localizable via telefonica',header_format)
# worksheet.write('K8','Correo 2',header_format)
# worksheet.write('L8','Correo 3',header_format)
# worksheet.write('M8','Correo 4',header_format)
for i in range(len(list_carreras)):
    car=list_carreras['clave_carrera'].values[i]
    plant=list_carreras['clave_plantel'].values[i]
    eg=egresados.loc[(egresados['carrera']==car)&(egresados['plantel']==plant)]
    if(len(eg)>0):
        worksheet.write('B'+str(i+9),car,blue_content)
        worksheet.write('C'+str(i+9),plant,blue_content)
        worksheet.write('D'+str(i+9),list_carreras['carrera'].values[i],blue_content)
        worksheet.write('E'+str(i+9),list_carreras['plantel'].values[i],blue_content)
        worksheet.write('F'+str(i+9),len(eg),blue_content)
        worksheet.write('G'+str(i+9),str(round((len(eg)*100)/len(egresados),2))+"%",blue_content)
        worksheet.write('H'+str(i+9),len(eg.loc[eg['telefonos']==0]),blue_content)
        worksheet.write('I'+str(i+9),str(round((len(eg.loc[eg['telefonos']==0])*100)/len(eg),2))+"%",blue_content)
        worksheet.write('J'+str(i+9),len(eg.loc[eg['telefonos']>0]),blue_content)

worksheet.fit_to_pages(1, 1)  
workbook.close()

,id,clave_carrera,clave_plantel,carrera,plantel,area
0,1,105,1,Diseño Industrial,Facultad de Arquitectura,1
1,2,123,1,Urbanismo,Facultad de Arquitectura,1
2,3,401,2,Artes Visuales,Facultad de Artes y Diseño,4
4,5,406,2,Diseño Gráfico,Facultad de Artes y Diseño,4
5,6,423,2,Diseño y Comunicación Visual,Facultad de Artes y Diseño,4
...,...,...,...,...,...,...
195,196,216,700,Ciencias Ambientales,ENES Morelia,2
200,201,432,700,Literatura Intercultural,ENES Morelia,4
205,206,501,700,Técnico,ENES Morelia,5
221,222,102,1,Arquitectura,Facultad de Arquitectura,1
222,223,103,1,Arquitectura del paisaje,Facultad de Arquitectura,1

In [17]:
carrera_meta['plantel']

0        Facultad de Arquitectura
1        Facultad de Arquitectura
2      Facultad de Artes y Diseño
3      Facultad de Artes y Diseño
4      Facultad de Artes y Diseño
                  ...
218               ENES Juriquilla
219               ENES Juriquilla
220               ENES Juriquilla
221      Facultad de Arquitectura
222      Facultad de Arquitectura
Name: plantel, Length: 223, dtype: object

In [29]:
for i in planteles:
    print(carrera_meta.loc[carrera_meta['clave_plantel']==i,'plantel'].values[0],len(egresados.loc[(egresados['telefonos']>0)&(egresados['plantel']==i)]))

Facultad de Arquitectura 160
FES Acatlán 598
Facultad de Filosofía y Letras 283
Facultad de Derecho 169
FES Iztacala 315
Facultad de Química 214
Facultad de Ingeniería 339
FES Aragón 510
Facultad de Contaduría y Administración 291
Centro de Ciencias Genómicas  Instituto de Biotecnología 4
Facultad de Medicina Veterinaria y Zootecnia 65
Facultad de Ciencias 192
Facultad de Enfemería 131
ENES León 21
FES Cuautitlán 234
FES Zaragoza 333
Facultad de Artes y Diseño 75
Facultad de Psicología 67
Facultad de Ciencias Políticas y Sociales 167
ENES Morelia 8
Facultad de Odontología 64
Escuela Nacional de Trabajo Social 62
Facultad de Economía 82
Centro de Física Aplicada y Tecnología Avanzada 5
Facultad de Medicina 44
Facultad de Música 29
Instituto de Energías Renovables 4
Centro de Peninsular en Humanidades y Ciencias Sociales 3
Centro de Nanociencias y Nanotecnología 2

In [30]:
len(egresados.loc[(egresados['telefonos']>0)])

4471

In [ ]:
4758

In [28]:
egresados['telefonos']

0       1
1       1
2       0
3       1
4       1
       ..
5219    1
5220    1
5221    1
5222    1
5223    1
Name: telefonos, Length: 5224, dtype: int64